# ADFS Client ID.
CLIENT_ID=

# Superuser credentials, should be your LiU id and email
SUPERUSER_USERNAME=
SUPERUSER_EMAIL=

# Home Assistant.
BETTAN_LOCK_ID=lock.bettan
CONFIGURA_LOCK_ID=lock.config
HOME_ASSISTANT_TOKEN=
HOME_ASSISTANT_BASEURL="http://localhost:8123/api"

# Email service.
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Info mail context variables.
INFO_DSEKTIONEN_WEBSITE_URL="https://d-sektionen.se"
INFO_DSEKTIONEN_INFO_EMAIL="info@d-sektionen.se"
INFO_DSEKTIONEN_GDPR_URL="https://d-sektionen.se/wp-content/uploads/2018/05/Policy-datahantering-D-sektionen.pdf"
INFO_DSEKTIONEN_LOGO_URL="https://d-sektionen.se/file_archive/sektionsdokument/logotyper/Color_white.png"
INFO_DSEKTIONEN_UNSUBSCRIBE_URL="https://medlem.d-sektionen.se/preferences/"
INFO_DSEKTIONEN_INSTAGRAM_URL="https://www.instagram.com/dsektionen/"
INFO_DSEKTIONEN_FACEBOOK_URL="https://www.facebook.com/datateknologsektionen"
INFO_DSEKTIONEN_FACEBOOK_GROUP_URL="https://www.facebook.com/groups/112745532123135"
INFO_DSEKTIONEN_MORE_SOCIAL_MEDIA_URL="https://d-sektionen.se/socialamedier/"
INFO_DSEKTIONEN_CALENDAR_ICAL_URL="https://calendar.google.com/calendar/ical/c_93a709266d679561caf5bcc20fb621fb0af75dd7d6e78c568b65fec39fc34e3b%40group.calendar.google.com/public/basic.ics"

#OPTIONAL: Webhook for notifying werk about new bookings.
# WERK_WEBHOOK_URL=

# OPTIONAL: Link to the google calendar url to fetch events from. Uses official calendar if omitted.
# CAL_URL=

# OPTIONAL: Postgres DB settings. Uses standard settings if omitted.
# POSTGRES_NAME=
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_HOST=
# POSTGRES_PORT=

# OPTIONAL: Secret key used in Django.
# SECRET_KEY=

# OPTIONAL: The logging level wanted in production (default INFO)
DJANGO_LOG_LEVEL=INFO
