# ADFS Client ID.
CLIENT_ID=

# Home Assistant.
BETTAN_LOCK_ID=lock.bettan
CONFIGURA_LOCK_ID=lock.config
HOME_ASSISTANT_TOKEN=
HOME_ASSISTANT_BASEURL="http://localhost:8123/api"

# Email service.
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#OPTIONAL: Webhook for notifying werk about new bookings.
WERK_WEBHOOK_URL=

# OPTIONAL: Link to the google calendar url to fetch events from. Uses official calendar if omitted.
CAL_URL=

# OPTIONAL: Postgres DB settings. Uses standard settings if omitted.
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# OPTIONAL: Secret key used in Django.
SECRET_KEY=
