# ADFS Client ID.
CLIENT_ID=

# Superuser credentials, should be your LiU id and email
SUPERUSER_USERNAME=
SUPERUSER_EMAIL=

# Home Assistant.
BETTAN_LOCK_ID=lock.bettan
CONFIGURA_LOCK_ID=lock.config
HOME_ASSISTANT_TOKEN=
HOME_ASSISTANT_BASEURL="http://localhost:8123/api"

# Email service.
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=


# OPTIONAL: Link to the google calendar url to fetch events from. Uses official calendar if omitted.
# CAL_URL=

# Postgres DB settings. Uses standard settings if omitted.
POSTGRES_NAME="django"
POSTGRES_USER="django"
POSTGRES_PASSWORD="django"
POSTGRES_HOST="postgres" # OBS this is the name of the docker compose resource
POSTGRES_PORT=5432

# OPTIONAL: Secret key used in Django.
# SECRET_KEY=

# OPTIONAL: The logging level wanted in production (default INFO)
DJANGO_LOG_LEVEL=INFO
