Django==2.2.28
django-ical==1.7.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
requests==2.25.0
drf-writable-nested==0.6.2
django-cors-headers==3.5.0
icalendar==4.0.7
python-dotenv==0.15.0
django-model-utils==4.0.0
django-imagekit==4.0.2
django-treebeard==4.5.1
django-auth-adfs==1.10.1
uWSGI==2.0.20
psycopg2==2.8.3
yalexs==3.0.1