Django==1.11.1
django-cas-client==1.3.0
pygsheets==1.1.3
django-kronos==1.0
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
requests==2.18.4
beautifulsoup4==4.6.0
drf-writable-nested==0.3.2

# Heroku
gunicorn==19.7.1
dj-database-url==0.4.2
psycopg2==2.6.2
